In [9]:
#Import the data 
#1 Questions
import pandas as pd 
import numpy as np 
questions_python = pd.read_csv(r"C:\Users\khanh\Desktop\UCIRV201810DATA4\Project\Questions Python.csv",encoding='iso-8859-1')
questions_python.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [39]:
#Sort Questions 
sort_questions = questions_python.sort_values(ascending=True, by = 'Id')
sort_questions.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02 15:11:16,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02 17:01:58,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02 18:43:54,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03 01:15:08,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03 13:19:16,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [35]:
#2 Ansers Python 
answers_python = pd.read_csv(r"C:\Users\khanh\Desktop\UCIRV201810DATA4\Project\Answers Python.csv", encoding = 'iso-8859-1')
answers_python.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [40]:
sort_answers = answers_python.sort_values(ascending=True, by = 'Id')
sort_answers.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [13]:
#3 Tags Python 
tags_python = pd.read_csv(r"C:\Users\khanh\Desktop\UCIRV201810DATA4\Project\Tags Python.csv", encoding = 'iso-8859-1')
tags_python.head()

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python

In [ ]:
parse the date, then groupby and mean 
pd.to_datetime[df[date]]
group them into years

In [80]:
#Convert date into numerical value 
questions_python['CreationDate'] = pd.to_datetime(questions_python['CreationDate'])

In [81]:
answers_python['CreationDate'] = pd.to_datetime(answers_python['CreationDate'])

In [28]:
questions_python.dtypes
questions_python.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02 15:11:16,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02 17:01:58,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02 18:43:54,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03 01:15:08,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03 13:19:16,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [42]:
#Merge then calculate 
python_questions_2 = sort_questions.rename(columns={'CreationDate': 'CreationQuestionsDate'})
python_questions_2.head()

,Id,OwnerUserId,CreationQuestionsDate,Score,Title,Body
0,469,147.0,2008-08-02 15:11:16,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02 17:01:58,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02 18:43:54,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03 01:15:08,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03 13:19:16,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [121]:
#merge_data = pd.merge(answers_python, questions_python, on = '')
#merge_data
sort_answers['Body'].unique().shape

(986883,)

In [51]:
print(sort_answers.shape)
print(sort_answers['Id'].unique().shape)

(987122, 6)
(987122,)

In [56]:
sort_questions['Id'].min()

469

In [69]:
#to find library
answer_pandas = sort_answers.loc[sort_answers['Body'].str.contains("pandas"), :]

In [71]:
answer_pandas.shape

(19945, 6)

In [72]:
answer_matplotlib = sort_answers.loc[sort_answers['Body'].str.contains("matplotlib"), :]

In [73]:
answer_matplotlib.shape

(15131, 6)

In [90]:
#Merge answers and questions 
#merge_answers_questions = answers_python.join(questions_python)
merge = sort_answers.merge(sort_questions, left_on = 'ParentId', right_on = 'Id')
merge.head()

#questions_python.dtypes

,Id_x,OwnerUserId_x,CreationDate_x,ParentId,Score_x,Body_x,Id_y,OwnerUserId_y,CreationDate_y,Score_y,Title,Body_y
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...,469,147.0,2008-08-02 15:11:16,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...,469,147.0,2008-08-02 15:11:16,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
2,3040,457.0,2008-08-06T03:01:23Z,469,12,<p>Unfortunately the only API that isn't depre...,469,147.0,2008-08-02 15:11:16,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
3,195170,745.0,2008-10-12T07:02:40Z,469,1,<p>There must be a method in Cocoa to get a li...,469,147.0,2008-08-02 15:11:16,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
4,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...,502,147.0,2008-08-02 17:01:58,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...

In [113]:
merge.dtypes
merge['CreationDate_x'] = pd.to_datetime(merge['CreationDate_x'])
merge['Time it takes'] = merge['CreationDate_x'] - merge['CreationDate_y']
sort_merge = merge.sort_values(ascending=True, by = 'Time it takes')
sort_merge.head(20)

,Id_x,OwnerUserId_x,CreationDate_x,ParentId,Score_x,Body_x,Id_y,OwnerUserId_y,CreationDate_y,Score_y,Title,Body_y,Time it takes
266569,10955711,279627.0,2012-06-08 20:33:54,33054229,39,<p>Add a space after the <code>4</code>:</p>\n...,33054229,1090079.0,2015-10-10 12:55:24,43,Accessing attributes on literals work on all t...,<p>I have read that everything in python is an...,-1219 days +07:38:30
266570,10955713,14343.0,2012-06-08 20:34:00,33054229,84,<p>You need parens:</p>\n\n<pre><code>(4).__st...,33054229,1090079.0,2015-10-10 12:55:24,43,Accessing attributes on literals work on all t...,<p>I have read that everything in python is an...,-1219 days +07:38:36
266571,10955754,1358283.0,2012-06-08 20:38:16,33054229,7,<p>actually (to increase unreadability...):</p...,33054229,1090079.0,2015-10-10 12:55:24,43,Accessing attributes on literals work on all t...,<p>I have read that everything in python is an...,-1219 days +07:42:52
1493,64486,7829.0,2008-09-15 16:34:29,510348,330,<p>You can use the sleep() function in the tim...,510348,46646.0,2009-02-04 07:04:09,1061,How can I make a time delay in Python?,<p>I would like to know how to put a time dela...,-142 days +09:30:20
6623,261008,6491.0,2008-11-04 05:47:59,508657,3,"<p>For numeric data, <a href=""http://numpy.sci...",508657,56376.0,2009-02-03 19:54:37,8,Multidimensional array in Python,<p>I have a little Java problem I want to tran...,-92 days +09:53:22
6624,261084,2140.0,2008-11-04 06:37:50,508657,18,<p>If you restrict yourself to the Python stan...,508657,56376.0,2009-02-03 19:54:37,8,Multidimensional array in Python,<p>I have a little Java problem I want to tran...,-92 days +10:43:13
6625,261340,6848.0,2008-11-04 09:34:25,508657,13,<p>To create a standard python array of arrays...,508657,56376.0,2009-02-03 19:54:37,8,Multidimensional array in Python,<p>I have a little Java problem I want to tran...,-92 days +13:39:48
6626,261656,10661.0,2008-11-04 12:04:00,508657,10,<p>Multidimensional arrays are a little murky....,508657,56376.0,2009-02-03 19:54:37,8,Multidimensional array in Python,<p>I have a little Java problem I want to tran...,-92 days +16:09:23
6627,264562,11265.0,2008-11-05 07:33:36,508657,0,<p>Another option is to use a dictionary:</p>\...,508657,56376.0,2009-02-03 19:54:37,8,Multidimensional array in Python,<p>I have a little Java problem I want to tran...,-91 days +11:38:59
230123,9298610,1002469.0,2012-02-15 17:55:07,9385979,1,"<p>If these are actually email messages, you c...",9385979,1018129.0,2012-02-21 22:06:21,3,python imaplib reading gmail,<p>I am using imaplib to read gmail messages i...,-7 days +19:48:46
230124,9298791,779813.0,2012-02-15 18:05:45,9385979,0,<p>Just use split and then check to see if the...,9385979,1018129.0,2012-02-21 22:06:21,3,python imaplib reading gmail,<p>I am using imaplib to read gmail messages i...,-7 days +19:59:24
230125,9298876,1212020.0,2012-02-15 18:11:45,9385979,6,"<p>The data is in quoted-printable encoding, t...",9385979,1018129.0,2012-02-21 22:06:21,3,python imaplib reading gmail,<p>I am using imaplib to read gmail messages i...,-7 days +20:05:24
549241,23537972,100297.0,2014-05-08 09:34:57,23542593,2,"<p>If you have read a list of lists, use <code...",23542593,3615736.0,2014-05-08 13:04:38,1,"Creating Sublists from a ""List""","<p>I have a list in a file,\nlooks like this <...",-1 days +20:30:19
930779,38160717,1644198.0,2016-07-02 13:30:51,38162235,1,<p>The <code>clean_&lt;fieldname&gt;</code> me...,38162235,3252642.0,2016-07-02 16:14:01,1,Django IntegrityError email is not unique,<p>I am working on my Checkout view with regul...,-1 days +21:16:50
549242,23539243,2395542.0,2014-05-08 10:31:53,23542593,0,<pre><code>#!/usr/bin/python\nimport ast\nfile...,23542593,3615736.0,2014-05-08 13:04:38,1,"Creating Sublists from a ""List""","<p>I have a list in a file,\nlooks like this <...",-1 days +21:27:15
53237,1903764,180100.0,2009-12-14 21:54:31,1904170,4,<p>something like that (lines is a list of all...,1904170,231656.0,2009-12-14 23:09:35,2,Python: Checking Header Format,<p>I'm new to python and need help with a prob...,-1 days +22:44:56
53238,1903809,131084.0,2009-12-14 22:02:09,1904170,1,"<pre><code>p, wncf, nvar, nclauses, hard = lin...",1904170,231656.0,2009-12-14 23:09:35,2,Python: Checking Header Format,<p>I'm new to python and need help with a prob...,-1 days +22:52:34
156259,5846590,131527.0,2011-05-01 05:06:53,5846818,4,<p>You can just use string manipulation withou...,5846818,732923.0,2011-05-01 06:11:28,5,python string manipulation,<p>I have a string <code>s</code> with nested ...,-1 days +22:55:25
156260,5846597,396811.0,2011-05-01 05:09:15,5846818,3,<pre><code>&gt;&gt;&gt; import re\n&gt;&gt;&gt...,5846818,732923.0,2011-05-01 06:11:28,5,python string manipulation,<p>I have a string <code>s</code> with nested ...,-1 days +22:57:47
156261,5846609,596329.0,2011-05-01 05:11:20,5846818,2,"<p>Yeah, it should be:</p>\n\n<pre><code>&gt;&...",5846818,732923.0,2011-05-01 06:11:28,5,python string manipulation,<p>I have a string <code>s</code> with nested ...,-1 days +22:59:52

In [117]:
#datetime_to_numeric = merge
average_time = merge[['ParentId', 'Id_y', 'Time it takes']].groupby(['ParentId']).min()
average_time.head()

          Id_y Time it takes
ParentId
469        469      01:45:37
502        502      01:47:09
535        535      00:13:02
594        594      00:02:28
683        683      01:11:34

In [118]:
average_time.mean()

Id_y                        2.28236e+07
Time it takes    8 days 15:48:52.907050
dtype: object