In [2]:
#Import the data 
#1 Questions
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from scipy.stats import norm
questions_python = pd.read_csv(r"C:\Users\khanh\Desktop\UCIRV201810DATA4\Project\Questions Python.csv",encoding='iso-8859-1')
questions_python.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [3]:
#Sort Questions 
sort_questions = questions_python.sort_values(ascending=True, by = 'Id')
sort_questions.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [4]:
#2 Ansers Python 
answers_python = pd.read_csv(r"C:\Users\khanh\Desktop\UCIRV201810DATA4\Project\Answers Python.csv", encoding = 'iso-8859-1')
answers_python.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [5]:
sort_answers = answers_python.sort_values(ascending=True, by = 'Id')
sort_answers.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [6]:
#3 Tags Python 
tags_python = pd.read_csv(r"C:\Users\khanh\Desktop\UCIRV201810DATA4\Project\Tags Python.csv", encoding = 'iso-8859-1')
tags_python.head()

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python

In [7]:
#parse the date, then groupby and mean 
#pd.to_datetime[df[date]]
#group them into years

In [8]:
#Convert date into numerical value 
questions_python['CreationDate'] = pd.to_datetime(questions_python['CreationDate'])

In [9]:
answers_python['CreationDate'] = pd.to_datetime(answers_python['CreationDate'])

In [10]:
questions_python.dtypes
questions_python.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02 15:11:16,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02 17:01:58,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02 18:43:54,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03 01:15:08,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03 13:19:16,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [11]:
#Merge then calculate 
python_questions_2 = sort_questions.rename(columns={'CreationDate': 'CreationQuestionsDate'})
python_questions_2.head()

,Id,OwnerUserId,CreationQuestionsDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [12]:
#merge_data = pd.merge(answers_python, questions_python, on = '')
#merge_data
sort_answers['Body'].unique().shape

(986883,)

In [13]:
print(sort_answers.shape)
print(sort_answers['Id'].unique().shape)

(987122, 6)
(987122,)

In [14]:
sort_questions['Id'].min()

469

In [15]:
#to find library
answer_pandas = sort_answers.loc[sort_answers['Body'].str.contains("pandas"), :]

In [16]:
answer_pandas.shape

(19945, 6)

In [17]:
answer_matplotlib = sort_answers.loc[sort_answers['Body'].str.contains("matplotlib"), :]

In [18]:
answer_matplotlib.shape

(15131, 6)

In [19]:
#Merge answers and questions 
#merge_answers_questions = answers_python.join(questions_python)
merge = sort_answers.merge(sort_questions, left_on = 'ParentId', right_on = 'Id', suffixes = ['_Answers' , '_Questions'])
merge.head()

#questions_python.dtypes

,Id_Answers,OwnerUserId_Answers,CreationDate_Answers,ParentId,Score_Answers,Body_Answers,Id_Questions,OwnerUserId_Questions,CreationDate_Questions,Score_Questions,Title,Body_Questions
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
2,3040,457.0,2008-08-06T03:01:23Z,469,12,<p>Unfortunately the only API that isn't depre...,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
3,195170,745.0,2008-10-12T07:02:40Z,469,1,<p>There must be a method in Cocoa to get a li...,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
4,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...

In [37]:
merge['CreationDate_Questions'] = pd.to_datetime(merge['CreationDate_Questions'])
merge['CreationDate_Answers'] = pd.to_datetime(merge['CreationDate_Answers'])
merge.dtypes
merge['CreationDate_Questions'] = pd.to_datetime(merge['CreationDate_Questions'])
merge['Time it takes'] = merge['CreationDate_Answers'] - merge['CreationDate_Questions']
sort_merge = merge.sort_values(ascending=True, by = 'Time it takes')

,Id_Answers,OwnerUserId_Answers,CreationDate_Answers,ParentId,Score_Answers,Body_Answers,Id_Questions,OwnerUserId_Questions,CreationDate_Questions,Score_Questions,Title,Body_Questions,Time it takes
773,39736284,1539655.0,2016-09-28 00:33:55,38987,0,<p>In Python 3.5 you can use unpack <code>**</...,38987,3207.0,2008-09-02 07:44:30,1867,How to merge two Python dictionaries in a sing...,"<p>I have two Python dictionaries, and I want ...",2947 days 16:49:25
369,39573536,4269615.0,2016-09-19 12:45:10,22676,2,<p>Following are the most commonly used calls ...,22676,2109.0,2008-08-22 15:34:13,492,How do I download a file over HTTP using Python?,<p>I have a small utility that I use to downlo...,2949 days 21:10:57
1538,40076866,4380481.0,2016-10-17 00:10:09,67454,0,<p>For python3 i use the <strong>io.ByteIO</st...,67454,9812.0,2008-09-15 22:00:31,41,Serving dynamically generated ZIP archives in ...,<p>How to serve users a dynamically generated ...,2953 days 02:09:38
1307,40054478,2809027.0,2016-10-15 03:00:43,59825,1,<h2>tl;dr</h2>\n\n<p><code>for first_item in m...,59825,2260.0,2008-09-12 19:58:33,154,How to retrieve an element from a set without ...,<p>Suppose the following:</p>\n\n<pre><code>&g...,2954 days 07:02:10
736,39946546,5833286.0,2016-10-09 17:39:01,38601,0,<p>In Django 10.\nmyproject/urls.py:\nat the b...,38601,2592.0,2008-09-01 23:22:55,147,Using Django time/date widgets in custom form,<p>How can I use the nifty JavaScript date and...,2959 days 18:16:06

In [98]:
data_test_df = sort_merge[['CreationDate_Answers', 'CreationDate_Questions', 'Time it takes']]
data_test_df.head(20)

#data_test_df['Time it takes'] > pd.Timedelta(0)
#data_test_df['Time it takes'] < pd.Timedelta(0)



data_test_df['Time it takes'] = pd.to_numeric(data_test_df['Time it takes'])

data_test_neg_df = data_test_df.loc[data_test_df['Time it takes'] > 0]
data_test_neg_df.mean()
print(data_test_neg_df.mean())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Time it takes    6.058491e+15
dtype: float64

In [81]:
#sort_merge.loc[sort_merge['ParentId'] == 33054229]

In [100]:
#datetime_to_numeric = merge
average_time = merge[[ 'ParentId', 'Time it takes']].groupby(['ParentId']).min()
average_time.head()

         Time it takes
ParentId
469           01:45:37
502           01:47:09
535           00:13:02
594           00:02:28
683           01:11:34

In [101]:
average_time.mean()
average_time_df = pd.DataFrame(average_time)
average_time_df['Time it takes'] = pd.to_numeric(average_time_df['Time it takes'])
average_time_df.dtypes
average_time_df.mean()

Time it takes    7.481329e+14
dtype: float64

In [22]:
#average_score = merge[['Score_Questions']].groupby(['Score_Questions']).mean()

In [23]:
#average_score.head()

In [102]:
average_time_histogram = pd.DataFrame({'average_time_df': np.random.normal(size=100)})

average_time_df.describe()
average_time_df.plot(kind='scatter')
#pd.cut(np.array([-1.052941e+17, 3.810000e+11, 1.204000e+12, 7.945000e+12, 2.153771e+17]), 3)

#ange = np.arange(-1.052941e+17, 2.153771e+17, 1e+15)
#plt.plot(range, norm.pdf(range,-1.052941e+17, 2.153771e+17))
#average_time_df_scatter = average_time_df.plot.kde()

ValueError: scatter requires and x and y column